{% extends "@theme/base.html.twig" %}

{% block title %}{{ setting('siteName') }} - {{ 'about.title'|trans({}, 'default') }}{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center mb-5">
          <h1 class="mb-4">{{ 'about.title'|trans({}, 'default') }}</h1>
          <p class="lead">{{ 'about.subtitle'|trans({}, 'default') }}</p>
        </div>
      </div>

      <div class="row align-items-center mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <img src="{{ asset('images/about/factory.jpg') }}" 
               alt="{{ 'about.our_story'|trans({}, 'default') }}" 
               class="img-fluid rounded shadow">
        </div>
        <div class="col-lg-6">
          <h2>{{ 'about.our_story'|trans({}, 'default') }}</h2>
          <p>{{ 'about.our_story_content'|trans({}, 'default') }}</p>
          <p>Avec plus de 500 maisons modulaires livrées et un taux de satisfaction client de 98%, nous sommes fiers d'être devenus la référence en matière de construction modulaire en France.</p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12">
          <h2 class="text-center mb-5">{{ 'about.our_values'|trans({}, 'default') }}</h2>
        </div>
        <div class="col-md-4 mb-4">
          <div class="feature-card text-center">
            <div class="feature-icon mx-auto mb-3">
              <svg width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
              </svg>
            </div>
            <h3>{{ 'about.value_quality'|trans({}, 'default') }}</h3>
            <p>{{ 'about.value_quality_desc'|trans({}, 'default') }}</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="feature-card text-center">
            <div class="feature-icon mx-auto mb-3">
              <svg width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg>
            </div>
            <h3>{{ 'about.value_innovation'|trans({}, 'default') }}</h3>
            <p>{{ 'about.value_innovation_desc'|trans({}, 'default') }}</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="feature-card text-center">
            <div class="feature-icon mx-auto mb-3">
              <svg width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
            </div>
            <h3>{{ 'about.value_transparency'|trans({}, 'default') }}</h3>
            <p>{{ 'about.value_transparency_desc'|trans({}, 'default') }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <h2 class="mb-4">{{ 'about.our_team'|trans({}, 'default') }}</h2>
          <p class="lead mb-5">Une équipe d'experts passionnés à votre service pour réaliser votre projet de A à Z.</p>
          <a href="{{ path('app_contact', {'_locale': app.request.locale}) }}" class="btn btn-primary btn-lg">{{ 'nav.contact'|trans({}, 'default') }}</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
