{% extends '@theme/base.html.twig' %}

{% block title %}{{ setting('siteName') }} - {{ 'legal.title'|trans({}, 'default') }}{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="mb-4">{{ 'legal.title'|trans({}, 'default') }}</h1>
          
          <div class="content-block mb-5">
            <h2>{{ 'legal.company_info'|trans({}, 'default') }}</h2>
            <ul class="list-unstyled">
              <li class="mb-2"><strong>{{ 'legal.company_name'|trans({}, 'default') }}:</strong> {{ setting('siteName') }}</li>
              <li class="mb-2"><strong>{{ 'legal.legal_form'|trans({}, 'default') }}:</strong> SAS (Société par Actions Simplifiée)</li>
              <li class="mb-2"><strong>{{ 'legal.capital'|trans({}, 'default') }}:</strong> 100 000 €</li>
              <li class="mb-2"><strong>{{ 'legal.siret'|trans({}, 'default') }}:</strong> 123 456 789 00012</li>
              <li class="mb-2"><strong>{{ 'legal.vat'|trans({}, 'default') }}:</strong> FR12 345678900</li>
              <li class="mb-2"><strong>{{ 'legal.headquarters'|trans({}, 'default') }}:</strong> {{ setting('address') }}</li>
              <li class="mb-2"><strong>{{ 'footer.phone'|trans({}, 'default') }}:</strong> {{ setting('phone') }}</li>
              <li class="mb-2"><strong>{{ 'footer.email'|trans({}, 'default') }}:</strong> {{ setting('email') }}</li>
            </ul>
          </div>

          <div class="content-block mb-5">
            <h2>{{ 'legal.director'|trans({}, 'default') }}</h2>
            <p>{{ 'legal.director.name'|trans({}, 'default') }}</p>
          </div>

          <div class="content-block mb-5">
            <h2>{{ 'legal.host'|trans({}, 'default') }}</h2>
            <p>{{ 'legal.host_info'|trans({}, 'default') }} :</p>
            <ul class="list-unstyled">
              <li>{{ 'legal.host.placeholder_name'|trans({}, 'default') }}</li>
              <li>{{ 'legal.host.placeholder_address'|trans({}, 'default') }}</li>
              <li>{{ 'legal.host.placeholder_phone'|trans({}, 'default') }}</li>
            </ul>
          </div>

          <div class="content-block">
            <h2>{{ 'legal.intellectual_property.title'|trans({}, 'default') }}</h2>
            <p>{{ 'legal.intellectual_property.content'|trans({}, 'default') }}</p>
            <p>{{ 'legal.intellectual_property.reproduction'|trans({}, 'default') }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
